
/*
@font-face {
  font-family: KBG;
  src: local("KGB"), url(/fonts/KGBrokenVesselsSketch.ttf)
}*/

@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic';

/*
font-family: 'Ubuntu', sans-serif;

font-weight: 300; - light

font-weight: 400; - regular

font-weight: 500; - medium

font-weight: 700; - bold*/